// import variables
@import 'variables';

// import font-awesome
@import '../node_modules/font-awesome/scss/font-awesome';

// import Bootstrap
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@font-face {
  font-family: grotesque;
  src: url("../fonts/grotesque.otf");
}

@font-face {
  font-family: ptserif;
  src: url("../fonts/ptserif.ttf");
}

// General styles
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.row {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'grotesque', sans-serif;
}

h2 {
  font-family: 'grotesque', sans-serif;
}

p {
  font-family: 'ptserif', serif;
}

a, a:hover, a:visited {
  text-decoration: none;
}

.button, .button:visited {
  font-family: 'grotesque', serif;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  color: $white;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 3px;
  padding: 15px 30px;
}

// import page sections
@import 'hero';
@import 'how-does-it-work';
@import 'unique';
@import 'why';
@import 'more-info';
@import 'experts';
@import 'three-steps';
@import 'footer';
