@import 'variables';

.get-sponsored {
  padding: 40px 0 90px 0;
  background-color: $blue;
  h1, p {
    color: $white;
  }
  p {
    font-size: 20px;
    width: 700px;
    display: block;
    margin: 40px auto;
  }
  h2 {
    margin-top: 40px;
    color: $yellow;
  }
  .button:hover {
    background-color: $white;
  }
}

// Media queries
@media (max-width: 750px) {
  .get-sponsored {
    p {
      width: auto;
    }
  }
}

@media (max-width: 400px) {
  .get-sponsored {
    p {
      font-size: 18px;
    }
  }
}
