@import 'variables';

.more-info-desktop, .more-info-mobile {
  .col-xs-12, .col-sm-6 {
    min-height: 450px;
    padding-top: 75px;
  }
  .button-container {
    min-height: 0;
    margin-top: -20px;
  }
  .image-1 {
    background-image: url('../img/stellar-profile.jpg');
    background-position: center;
    background-size: cover;
  }
  .image-2 {
    background-image: url('../img/endeavors.jpg');
    background-position: center;
    background-size: cover;
  }
  .image-3 {
    background-image: url('../img/apple.jpg');
    background-position: center;
    background-size: cover;
  }
  .image-4 {
    background-image: url('../img/transparent.jpg');
    background-position: center;
    background-size: cover;
  }
  // .image-5 {
  //   background-image: url('../img/placeholder.jpg');
  //   background-position: center;
  //   background-size: cover;
  // }
  h1, p {
    color: $blue;
  }
  h1 {
    font-size: 35px;
  }
  p, .see-more-text {
    font-size: 22px;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .see-more-text {
    font-style: italic;
  }
  // see more container and button styles
  .more-button, .less-button {
    font-family: 'roboto', serif;
    color: $yellow;
    text-decoration: underline;
    transition: 0.2s;
    background: none;
    border: none;
    font-size: 28px;
    margin-top: 0px;
    &:hover {
      color: $blue;
      transition: 0.2s;
    }
    &:focus {
      outline: none;
    }
  }
  .container {
    width: 100%;
    margin: auto;
    text-align: center;
    transition: all 0.5s;
  }
    .post {
      margin-bottom: 10px;
      transition: all 0.5s;
    }
    .less {
      height: 40px; width: 100%;
      overflow: hidden;
    }
    .more {
      height: 200px;
      width: 100%;
      overflow: auto;
    }
}

.more-info-desktop {
  #more-info {
    .carousel-indicators {
      li {
        height: 15px;
        width: 15px;
        margin: 5px;
        border: 1px solid #262626;
        &.active {
          background-color: #262626;
        }
      }
    }
    .carousel-inner {
      .col-sm-12, .col-sm-6 {
        height: 90vh;
        h1 {
          margin-top: 15vh;
        }
      }
    }
  }
}

// Media queries
@media (min-width: 1500px) and (min-height: 900px) {
  .more-info-desktop {
    .col-sm-6 {
      min-height: 550px;
    }
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 25px;
    }
  }
}

@media (min-width: 1800px) and (min-height: 1100px) {
  .more-info-desktop {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 30px;
    }
  }
}

@media (min-width: 2300px) and (min-height: 1300px){
  .more-info-desktop {
    .col-sm-6 {
      min-height: 700px;
    }
    h1 {
      font-size: 60px;
    }
    p, .see-more-text {
      font-size: 38px;
      width: 60%;
    }
  }
}

@media (max-width: 1260px) {
  .more-info-desktop {
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 25px;
    }
  }
}

@media (max-width: 1065px) {
  .more-info-desktop, .more-info-mobile {
    h1 {
      font-size: 30px;
    }
    p, .see-more-text {
      font-size: 22px;
      width: 90%;
    }
  }
}

@media (min-width: 768px) {
  .more-info-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .more-info-desktop {
    display: none;
  }
}

@media (max-width: 400px) {
  .more-info-desktop, .more-info-mobile {
    h1 {
      font-size: 28px;
    }
    p, .see-more-text {
      font-size: 20px;
      width: 95%;
    }
  }
}
