@import 'variables';

.three-steps {
  padding: 40px 0 60px 0;
  h1 {
    color: $blue;
    padding: 20px;
    font-size: 40px;
    .tm {
      font-size: 22px;
      vertical-align: text-top;
    }
  }
  h2, p {
    color: $blue;
  }
  .step {
    margin-top: 40px;
  }
  p {
    font-size: 18px;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .number {
    height: 60px;
    width: 60px;
    background-color: $yellow;
    border: 1px solid $yellow;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 36px;
    margin-top: -2px;
  }
  .button-row {
    margin-top: 60px;
  }
}

// Media queries
@media (min-width: 1500px) and (min-height: 900px) {
  .three-steps {
    p {
      font-size: 28px;
    }
  }
}

@media (min-width: 2500px) and (min-height: 1100px) {
  .three-steps {
    h2 {
      font-size: 45px;
    }
    p {
      font-size: 32px;
    }
  }
}

@media (max-width: 1035px) {
  .three-steps {
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 450px) {
  .three-steps {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 412px) {
  .three-steps {
    .button {
      font-size: 15px;
    }
  }
}
