@import 'variables';

.three-steps {
  padding: 40px 0 60px 0;
  h1 {
    color: $dark-gray;
    padding-top: 20px;
    text-transform: uppercase;
  }
  h2 {
    color: $turquoise;
  }
  p {
    color: $dark-gray;
  }
  .step {
    margin-top: 40px;
  }
  p {
    font-size: 20px;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .number {
    height: 60px;
    width: 60px;
    color: $accent-color;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 36px;
    margin-top: -2px;
  }
  .underline {
    height: 0;
    width: 300px;
    margin: 0 auto;
    border-bottom: 4px solid $accent-color;
    margin-bottom: 40px;
  }
}
