@import 'variables';

.unique {
  background-color: $blue;
  padding: 40px 0 40px 0;
  // min-height: 440px;
  .underline {
    height: 0;
    width: 300px;
    display: block;
    margin: 0 auto 25px auto;
    border: 4px solid $yellow;
  }
  h1, p {
    color: $white;
    transition: 0.2s;
    transition: 0.2s;
  }
  h2 {
    color: $yellow;
  }
  a, a:visited {
    color: $yellow;
    transition: 0.2s;
    i {
      font-size: 36px;
    }
    &:hover {
      text-decoration: none;
      color: $white;
      transition: 0.2s;
    }
  }
  // button, button:visited {
  //   color: $yellow;
  //   transition: 0.2s;
  // }
  // button:hover {
  //   color: $white;
  //   transition: 0.2s;
  // }
  h1 {
    font-size: 45px;
  }
  p {
    font-family: 'calibri', sans-serif;
    font-size: 24px;
    width: 800px;
    margin: 0 auto;
  }
  .see-more-text {
    font-style: italic;
  }
  h2 {
    font-size: 36px;
  }
  // button {
  //   font-family: 'calibri', sans-serif;
  //   text-decoration: underline;
  //   font-size: 36px;
  //   background: none;
  //   border: none;
  //   &:focus {
  //     outline: none;
  //   }
  // }
  // see more container and button styles
  // .container {
  //   // width: 90%;
  //   margin: auto;
  //   text-align: center;
  //   transition: all 0.5s;}
  //   .post {
  //     margin-bottom: 10px;
  //     transition: all 0.5s;
  //   }
  //   .less {
  //     height: 55px; width: 100%;
  //     overflow: hidden;
  //   }
  //   .more {
  //     height: 140px;
  //     // width: 100%;
  //     overflow: auto;
  //   }
}

// Media queries
@media (min-width: 1500px) and (min-height: 900px) {
  .unique {
    // min-height: 470px;
    h1 {
      font-size: 56px;
    }
    p {
      font-size: 30px;
      width: 1300px;
    }
  }
}

@media (max-width: 1035px) {
  .unique {
    // min-height: 465px;
    h1 {
      font-size: 42px;
    }
    p {
      width: 600px;
      font-size: 25px;
    }
    .more {
      height: 134px;
    }
  }
}

@media (max-width: 710px) {
  .unique {
    // min-height: 493px;
    h1 {
      font-size: 40px;
    }
    p {
      width: 500px;
      font-size: 24px;
    }
    .more-button, .less-button {
      font-size: 24px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 530px) {
  .unique {
    // min-height: 465px;
    h1 {
      font-size: 35px;
    }
    p {
      width: auto;
      font-size: 20px;
    }
    .more-button, .less-button {
      font-size: 22px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 450px) {
  .unique {
    // min-height: 465px;
    h1 {
      font-size: 30px;
    }
    p {
      width: auto;
      font-size: 18px;
    }
    .more-button, .less-button {
      font-size: 20px;
      margin-top: 20px;
    }
    .less {
      height: 50px;
    }
    .more {
      height: 160px;
    }
    .underline {
      width: 200px;
    }
  }
}

.container {
  max-width: none;
}

// @media (max-width: 820px) {
//   .unique {
//     // min-height: 640px;
//     h1 {
//       font-size: 36px
//     }
//     p {
//       font-size: 25px;
//     }
//     h2, button {
//       font-size: 30px;
//     }
//     .more {
//       height: 290px;
//     }
//   }
// }
//
// @media (max-width: 550px) {
//   .unique {
//     min-height: 470px;
//     h1 {
//       font-size: 26px
//     }
//     p {
//       font-size: 15px;
//     }
//     h2, button {
//       font-size: 20px;
//     }
//     .more {
//       height: 150px;
//     }
//   }
// }
//
// @media (max-width: 450px) {
//   .unique {
//     min-height: 500px;
//     .more {
//       height: 200px;
//     }
//   }
// }
//
// @media (max-width: 400px) {
//   .unique {
//     min-height: 580px;
//     .more {
//       height: 250px;
//     }
//   }
// }
