@import 'variables';

.why {
  padding: 40px 0 40px 0;
  min-height: 630px;
  h1, p {
    color: $blue;
  }
  h1 {
    margin-top: 40px;
  }
  p {
    font-size: 20px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .underline {
    height: 0;
    width: 80px;
    border-bottom: 4px solid $yellow;
    display: block;
    margin: 0 auto;
  }
  .see-more-text {
    width: auto;
    font-style: italic;
    margin-top: 2px;
    width: 280px;
  }
  .more-button, .less-button {
    font-family: 'roboto', serif;
    color: $yellow;
    text-decoration: underline;
    transition: 0.2s;
    background: none;
    border: none;
    font-size: 28px;
    margin-top: 15px;
    &:hover {
      color: $blue;
      transition: 0.2s;
    }
    &:focus {
      outline: none;
    }
  }
  // see more container and button styles
  .container {
    width: 100%;
    margin: auto;
    text-align: center;
    transition: all 0.5s;
  }
    .post {
      margin-bottom: 10px;
      transition: all 0.5s;
    }
    .less {
      height: 55px; width: 100%;
      overflow: hidden;
    }
    .more {
      height: 215px;
      width: 100%;
      overflow: auto;
    }
    .button {
      display: block;
      margin: 40px auto 0 auto;
      width: 280px;
    }
}


// Media queries
@media (min-width: 993px) {
  .why {
    .button-xs-sm {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .why {
    .button-md-lg {
      display: none;
    }
    .button {
      margin-top: 10px;
    }
  }
}

@media (max-width: 950px) {
  .why {
    .more {
      height: 210px;
    }
  }
}

@media (max-width: 540px) {
  .why {
    p {
      width: 290px;
    }
    .more {
      height: 260px;
    }
  }
}

@media (max-width: 390px) {
  .why {
    h1 {
      font-size: 25px;
    }
    p {
      width: 300px;
    }
  }
}
